<%- include("../partials/head") %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-title float-md-start">
          <h3 class="mb-0"><%= date %></h3>
        </div>
        <div class="nav nav-masthead justify-content-center navbar-contents float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" href="/todo">Today</a>
          <a class="nav-link fw-bold py-1 px-0" href="/my-lists">Lists</a>
          <a class="nav-link fw-bold py-1 px-0" href="/logout">Logout</a>
        </div>
      </div>       
    </nav>
  </header>

  <main>
  <div class="mobile-display-navbar list-header-nav mt-5">
    <nav class="nav nav-masthead justify-content-center mt-3">
      <div class="nav-item list-heading px-3">
        <h2><%= listTitle %></h2>
      </div>
    </nav>
    <nav class="nav nav-masthead justify-content-center">
      <div class="nav-link">
        <form action="/todo/previous" method="post">
          <button class="previous-list-button" type="submit" name="previousList" value="<%= listTitle %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
              <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
            </svg>
          </button>
        </form>
      </div>
      <div class="nav-link today-reset-button">
        <button class="reset-list-button" data-bs-toggle="modal" data-bs-target="#resetListModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
        </button>
      </div>
      <div class="nav-link">
        <button class="new-item-button" type="button" data-bs-toggle="modal" data-bs-target="#addItemModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
      </div>
      <div class="nav-link">
        <form action="/todo/next" method="post">
          <button class="next-list-button" type="submit" name="nextList" value="<%= listTitle %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
          </button>
        </form>
      </div>
    </nav>
  </div>
    <div class="web-display-navbar list-header-nav mt-5">
      <nav class="nav nav-masthead justify-content-center">
        <div class="nav-link previous-list-button">
          <form action="/todo/previous" method="post">
            <button type="submit" name="previousList" value="<%= listTitle %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
              </svg>
            </button>
          </form>
        </div>
        <div class="nav-link today-reset-button">
          <button class="reset-list-button" data-bs-toggle="modal" data-bs-target="#resetListModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
            </svg>
          </button>
        </div>
        <div class="web-display-nav-title nav-item list-heading px-3">
          <h2><%= listTitle %></h2>
        </div>
        <div class="nav-link new-item-button">
          <button class="add-item-btn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addItemModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        </div>
        <div class="nav-link next-list-button">
          <form action="/todo/next" method="post">
            <button type="submit" name="nextList" value="<%= listTitle %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
              </svg>
            </button>
          </form>
        </div>
      </nav>
    </div>

    <div class="modal fade" id="resetListModal" tabindex="-1" aria-labelledby="resetListModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header">
            <h3 class="mb-0">Reset List?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to reset this list?</p>
          </div>
          <div class="modal-footer">
            <button class="btn cancel-reset-button" data-bs-dismiss="modal" aria-label="close">Cancel</button>
            <form action="/todo/resetList" method="post">
              <button class="btn btn-success" type="submit" name="resetList" value="<%= listTitle %>">Reset List</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <h3 class="add-item-list-nav navbar-title float-md-start mb-0 px-3"></h3>
              </div>
              <div class="row">
                <nav class="nav nav-masthead float-md-start mb-0 px-3">
                  <a id="addItemModalLabel" class="nav-link fw-bold py-1 px-0 new-item-tab" type="button">Task</a>
                  <a id="addListModalLabel" class="nav-link fw-bold py-1 px-0 new-list-tab" type="button">List</a>
                </nav>
              </div>
            </div>      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modalAddItemForm">
            <form action="/todo" method="post">        
              <div class="modal-body">
                <div class="mb-3 px-3">
                  <label for="newItemInput" class="form-label">New Item</label>
                  <input type="text" class="form-control" name="newItem" id="newItemInput" placeholder="Name" autocomplete="off">
                </div>
                <div class="dropdown-center px-3">
                  <button class="btn add-item-modal-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= listTitle %>
                  </button>
                  <ul class="dropdown-menu">
                    <% allLists.forEach((list) => { %>
                      <li>
                        <a class="dropdown-item" id="<%= list._id %>" name="<%= list.name %>"><%= list.name.replace(/\w/, c => c.toUpperCase()) %></a>
                        <input id="listId" type="hidden" name="listId" value="<%= list._id %>">
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
              <div class="modal-footer">
                <input class="save-list-id" type="hidden" name="saveListId">
                <button type="submit" name="saveList" value="<%= listTitle %>" class="btn btn-lg save-item-button w-100" data-bs-dismiss="modal">Save task!</button>
              </div>
            </form>
          </div>
          <div id="modalAddListForm">
            <form action="/todo/createList" method="post">
              <div class="modal-body">
                <div class="mb-3 px-3">
                  <label for="newListInput" class="form-label">New List</label>
                  <input type="text" class="form-control" name="newListName" id="newListInput" placeholder="Name" autocomplete="off">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-lg  new-list-button w-100" type="submit" name="newListButton">Create list!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <% lists.forEach((list) => { %>
          <div class="item">
            <input id="<%= list.items._id %>" type="hidden" name="strikeStatus" class="strike-status" value="<%= list.items.strike %>">
            <form action="/todo/deleteItem" method="post">
              <button type="submit" name="deleteItemButton" class="delete-item-button" value="<%= list.items._id %>">
                <svg class="delete-item-button-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
              <input type="hidden" name="thisListId" value="<%= list._id %>">
              <input type="hidden" name="thisList" value="<%= listTitle %>">
            </form>
            <form action="/todo/strikeItem" method="post" id="<%= list.items._id %>" class="strike-item-form">
              <p id="<%= list.items._id %>" name="thisTask" value="<%= list.items.strike %>" class="task-name"><%= list.items.name %></p>
              <input type="hidden" name="strikedTask" class="strike-task">
              <input type="hidden" name="thisTaskId" class="task-id">
              <input type="hidden" name="thisListId" value="<%= list._id %>">
              <input type="hidden" name="thisList" value="<%= listTitle %>">
            </form>           
          </div>
      <% }) %>
    </div>
  </main>
</div>

<%- include("../partials/footer"); %>
